* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffd0b5;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

h1 {
  text-align: center;
  font-size: 50px;
  color: #1a4d30;
  grid-column: 1/4;
  grid-row: 1;
  padding: 50px 0px;
}

.menu {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.canvas {
  width: 615px;
  height: 615px;
  background-color: white;
  border: solid;
  border-width: 15px;
  border-color: #55270a;
  grid-column: 2/3;
  display: grid;
}

.slider {
  -webkit-appearance: none;
  width: 180px;
  height: 20px;
  border-radius: 5px;
  background: #77ffb0;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #1a4d30;
  cursor: pointer;
}

#color {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}

label {
  font-size: 20px;
  margin-bottom: 20px;
  color: #1a4d30;
  font-weight: bold;
}

.btn,
.clear-btn {
  width: 180px;
  height: 60px;
  background-color: #7effb4;
  border: solid;
  border-width: 2px;
  border-color: #1a4d30;
  color: #1a4d30;
  font-size: 17px;
  font-weight: bold;
  transition: 0.02s;
}

#erace {
  margin-bottom: 20px;
}

.btn-check {
  background-color: #fffd89;
  border-color: #a74b12;
  color: #6e320d;
  box-shadow: 5px 5px 10px #a74b12;
}
